<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllureReportGeneration_RestfulAPISecurity">
    <test verbose="2" preserve-order="true" name="AllureReportGeneration_RestfulAPISecurity">
        <classes>
            <class name="org.exampleSeleniumFrameworkProjectVWO.SecurityTesting.BDDRestfulGetAPISecurityTesting">
                <methods>
                    <include name="bdd_getBookingById_shouldReturnErrorforXSS_ScriptingInGetRequest"/>
                    <include name="bdd_getBookingById_shouldReturnErrorforSQL_InjectionInGetRequest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>